body {
    background-color: #e2e2e2;
}
.nama-produk {
    font-family: 'poppins';
    color: #080808;
}
.border-produk {
    height: 10px;
    width: 200px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #080808;
}
.information {
    font-family: 'poppins';
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.table-title {
    text-align: center;
}
.container {
    width: 364px;
    height: auto;
    background-color: e2e2e2;
    border: #080808 7px solid;
    border-radius: 10px;
    color: #080808;
}
table, th, td {
    width: 100%;
    border: #080808 1px solid;
    border-collapse: collapse;
}
td {
    line-height: 46px;
    text-align: center;
}
a {
    color: #080808;
}
img {
    border: #080808 5px solid;
    border-radius: 10px;
    width: 130px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
