body {
    background: #211134;
}
#ellipse1 {
    position: absolute;
    width: 215px;
    height: 215px;
    left: 100px;
    top: 344px;

    background: #0C445B;
    filter: blur(200px);
}
#ellipse2 {
    position: absolute;
    width: 215px;
    height: 215px;
    left: 220px;
    top: 574px;

    background: #420C58;
    filter: blur(200px);
}
#heading {
    color: #ffffff;
    padding-top: 98px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
/* buat main news*/
#main-news {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
    overflow-x: scroll;
}
.news-card-img {
    width: 280px;
    height: 184px;
    left: 0px;
    top: 0px;
}
.news-card-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}