body {
    background-color: #e2e2e2;
}
.nama-app {
    font-family: 'poppins';
    font-size: 20px;
    text-align: center;
    color: #080808;
    margin-top: 80px;
    line-height: 30px;
}
.pilihan {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
.search {
    height: 100px;
    width: 100px;
    background-color: #fefefe;
    border-radius: 10px;
    border: 5px #080808 solid;
}
.scan {
    height: 100px;
    width: 100px;
    background-color: #fefefe;
    border-radius: 10px;
    border: 5px #080808 solid;
}
.tulisan-pilihan {
    font-family: 'poppins';
    margin-top: 120px;
    color: #080808;
    text-align: center;
}
a {
    text-decoration: none;
}
#searchbar {
    margin-top: 800px;
    color: #080808;
    font-family: 'poppins';
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.type-here {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    font-family: 'poppins';
}
.submit {
    font-family: 'poppins';
    height: 25px;
    border-radius: 10px;
}
.example {
    color: #080808;
    font-family: 'poppins';
    font-size: 10px;
    margin-bottom: 500px;
}
img {
    width: 100px;
}
p {
    font-family: 'poppins';
    color: #080808;
    text-align: center;
    font-size: 10px;
}
input {
    outline: none;
}