body {
    background-color: #e2e2e2;
}
.title {
    margin-top: 100px;
    color: #080808;
    font-family: 'poppins';
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.type-here {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    font-family: 'poppins';
}
.submit {
    font-family: 'poppins';
    height: 25px;
    border-radius: 10px;
}
.example {
    color: #080808;
    font-family: 'poppins';
    font-size: 10px;
}
input {
    outline: none;
}