body {
    background-color: #e2e2e2;
    font-family: 'poppins';
}
.nama-event {
    font-family: 'poppins';
    color: #080808;
}
.border-nama {
    height: 10px;
    width: 200px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #080808;
}
.informasi {
    color: #080808;
}
p {
    font-size: 12px;
}
img {
    width: 300px;
    border: #080808 10px solid;
    border-radius: 10px;
}